/* Fornts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style or utilities  */

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #00000023;
}
.home-page{
    background-color: #2d2dac;
    width: 100%;
    height: 677px;
    display: flex;
    align-items: center;
}
.home-container{
    width: 30%;
    margin-left: 300px;
}
.home-container h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: 700px;
    color: white;
    margin-left: 157;

}

/* button */
.live-button{
    text-decoration: none;
    color: white;
    width: 168px;
    height: 44px;
    background-image: linear-gradient(#1aceee,#ff6bc6);
    padding: 10px 24px;
}
.live-button:hover{
    background-image:linear-gradient(#ff6bc6, #1aceee) ;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-left: 5%;
    margin-right: 141px;
    margin-bottom: 86px;
    margin-top: 153px;
}
.home-img img{
    width: 650px;
}
/* -----------------
    All players 
-------------------*/
.container{
    width: 100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    width: 1050px;
    margin: 70px auto;
}
.player img{
    width: 300px;
    height: 256px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 474px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}
.player p{
    color: #6C6C6C;
    margin-top: -5px;
    font-weight: 400;
    font-style: normal;
}
.player h2{
   color:#18191F;
}
.populars{
    padding: 40px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    background: rosybrown;
    
}
.popular{
    border-radius: 3px;
    display: flex;
    width: 270px;
    height: 384px;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 19px 15px 45px 15px;
    transition: width  5s, height 20s, transform 5s ;
}
.popular:hover{
    border-radius: 3px;
    display: flex;
    width: 270px;
    height: 384px;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 19px 15px 45px 15px;
    transform: rotate(360deg);
}

.populars img {
    width: 267px;
    height: 256px;
    align-items: center;
    border-radius: 5px;
}
/*----------------
    Footer Style 
 -----------------*/

 .footor-container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    background-color: white;
    padding-top: 20px;
  }
  .footer-img {
    display: flex;
    justify-content: center;
  }
  .footer-img img {
    width: 483.87;
    height: 110px;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-icon img {
    width: 32px;
    height: 32px;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright p {
    font-size: 18px;
  }
